<% layout("layouts/boilerplate.ejs") -%>
<body>
    <br>
    <div class="row">
     <div class="col-8 offset-2">
        <h2 style="text-align: center;">Login</h2>
        <form action="/login" method="post" class="needs-validation" novalidate>
        <div class ="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" placeholder="Enter Username" name="username" class="form-control" required>
         </div>
         <div class ="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password"  id="password"  placeholder="Enter password" name="password" class="form-control" required>
          </div>
          <button class="btn btn-success">Login</button>
        </form>
        <br><br>
     </div>
    </div>
</body>
